*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand img{
    width: 65%;
}
.nav-link{
    font-size: 19px;
    font-weight: 600;
}
/*========================== hero section */
.hero-section{
    padding: 50px 0;
}
.my-btn{
    background-color: rgb(186, 187, 187);
    color: rgb(34, 33, 33);
    border: 2px solid rgb(39, 38, 38);
    border-radius: 60px;
    font-size: 27px;
    font-weight: 600;
    padding: 10px 45px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    transition: .4s ease-in-out;
}
.my-btn:hover{
    background-color: #3d3c3c;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(7, 7, 7);
}
.hero-text{
    margin-top: 50px;
}
.hero-text h2{
    margin-block: 20px;
    font-size: 48px;
}
.hero-text h4{
    font-size: 24px;
    color: #1b1b1b;
}
.hero-text p{
    font-size: 18px;
    color: #1b1b1b;
}
.hero-right{
    position: relative;
}
.hero-img img{
    width: 70%;
}
.hero-icon{
    position: absolute;
    top: 25%;
    right: 10%;
    list-style: none;
}
.hero-icon a{
    display: inline-block;
    color: #363535;
    font-size: 28px;
    margin-top: 15px;
}
.hero-icon li:hover a{
    color: black;
}
/* ================================Product */
.product{
    padding: 60px 0;
}
.product-img{
    height: 300px;
    object-fit: cover;
}
.card{
    width: 90%;
}
/*================================= about-area */
.about-area{
    padding-block: 60px;
}
.text-about{
    font-size: 42px;
    text-align: center;
    color: rgb(211, 79, 79);
    margin-bottom: 40px;
}
.text-about span{
    color: rgb(50, 103, 218);
}
.about-img img{
    width: 100%;
}
.about-text h2{
    font-size: 36px;
    margin-bottom: 20px;
}
/* ==========================Services */
.service .card-text{
    color: rgb(214, 219, 221);
}
.service .card{
    transition: .4s ease-in-out;
}
.service .card:hover{
    background-color: #1b1b1b !important;
    
}
/* =====================subscribe============== */
.subscribe{
    background: linear-gradient(to left, rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url(img/subscribe.jpg);
    padding: 70px;
    margin: 50px 0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.subscribe h2{
    font-size: 38px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
}
.subscribe p{
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin: 30px 0;
}
.input-group-text{
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 22px;
    border-radius: 50px;
    font-weight: 600;
}
.input-group input{
    border-radius: 50px 0 0 50px;
    background-color: #ddd;
}
.input-group input::placeholder{
    color: rgb(37, 37, 41);
    font-size: 22px;
    font-weight: 600;
}